# ignore
/**/*.ipyc
/**/.DS_Store
/**/decoil.egg-info/
/**/dist/
/**/build/
repo-key
repo-key.pub

# snakemake logs
/**/.snakemake/
/**/.idea/

# data folder
/**/simulation/data/
/**/data/
/**/__pycache__/
/**/examples/
!/**/data/test1.txt
!/**/data/test2.txt
!/**/data/test3.txt
!/**/data/test4.txt
!/**/data/test5.txt
